<footer class="bgc-primary c-light">
    <div class="container">
    <div class="d-flex jcsb border-bottom fw-s">
        <div class="map">
            <div class="d-flex fd-column jcsb">
            <div class="d-flex jcsb d-none">
                <p><a href="index.html">首頁</a></p>
                <p><a href="#">系列鏡框</a></p>
                <p><a href="store.html">門市據點</a></p>
                <p><a href="#">部落格</a></p>
                <p><a href="question.html">常見問題</a></p>
            </div>
            <div>
            <div class="phone">
                <a href="tel:+0800-000-000" class="d-flex aic">
                    <span class="material-symbols-outlined icon-s">
                        phone
                    </span>
                    <h4>0800-000-000</h4>
                </a>
                </div>
                <div class="mail">
                    <a href="mailto:glasses@business.com" class="d-flex aic">
                        <span class="material-symbols-outlined">
                            mail
                        </span>
                        <h4>glasses@business.com</h4>
                    </a>
                </div>
            </div>
        </div>
        </div>
        <div class="social-media d-flex jcsb">
            <a href="#"><img src="../assets/images/ic-social-fb.png" alt="icon_social-fb-img"></a>
            <a href="#"><img src="../assets/images/ic_social_ig.png" alt="ic_social_ig-img"></a>
            <a href="#"><img src="../assets/images/ic_social_line.png" alt="../ic_social_line-img"></a>
        </div>
    </div>
    <div class="d-flex jcsb mt-m d-sm-cloumn fw-s">
        <p>Copyright © 2020 Glasses.All rights reserved.</p>
        <ul class="social-media d-flex jcsb d-sm-cloumn">
            <li ><a href="#">隱私權政策</a></li>
            <li><a href="#">服務條款</a></li>
        </ul>
    </div>
    </div>
</div>
</footer>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />


   