.card{
    width: 100%;
    height: 100%;
    &-row{
      margin-right: -12px;
      margin-left: -12px;
    }
    &-column-5{
      width: calc(100% / 5);
      padding: 0 12px;
    }
    &-column-4{
      width: calc(100% / 4);
      padding: 0 12px;
      @include pad() {
        width: calc(100% / 2);
      }
      @include mobile(){
        width: 100%;
      }
    }
    &-column-3{
      width: calc(100% / 3);
      padding: 0 12px;
      @include pad(){
        width: 100%;
      }
    }
    &-column-2{
       width: calc(100% / 2);
       @include pad(){
       width: 100%;
      } 
    } 
  } 
