.store{
    .card{
        border: 1px solid #00000020;
        h5{
          padding: 8px 16px;
          border-bottom: 1px solid #00000020;
        }
        &-column-3{
          width: calc(100% / 3);
          padding: 0 12px;
          margin: 24px 0;
          @include pad(){
            width: calc(100% / 2);
          }
          @include mobile(){
            width: 100%;
          }
        } 
    } 
    .infor{
      padding: 16px 16px 8px 24px;
     a{ 
        color: #212529;
        display: inline-flex;
        padding-right: 8px;
      } 
      span{
        padding-right: 12px;
        padding-bottom: 8px;
      }
  }
  select{
    width: 307px;
    color: $color-gray;
    padding: 4px 0;
  }
  button{
    font-size: 18px;
    background-color: $color-dark;
    &:hover{
      background-color: darken($color-light, 70%);
    }
  }
  @include mobile{
    .select h5{
      font-size: $fs-base;
    }
  }
} 