<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main>
      <!-- block1 Banner -->
      <section class="banner">
        <div class="container">
          <div class="tit p-auto c-secondary">
            <h4>Promise-Desert 2020 早春系列</h4>
            <h2 class="fw-l">看得清，才能看得遠</h2>
            <div class="btn-s d-ib">
              <a href="#">立即購買</a>
            </div>
          </div>
        </div>
      </section>

      <!-- block2 pro -->
      <section class="bgc-red-200">
        <div class="container pro">
          <h3 class="tittle tac c-secondary">用專業的心，做專業的事</h3>
          <div class="d-flex fww card-row">
            <div class="card-column-4">
              <div class="card">
                <div class="tac">
                  <img src="../assets/images/home-section2-1.png" alt="price-img">
                  <h5 class="c-secondary fw-l">單一價格</h5>
                </div>
                <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
              </div>
            </div>
            <div class="card-column-4">
              <div class="card">
                <div class="tac">
                  <img src="../assets/images/home-section2-2.png" alt="price-img">
                  <h5 class="c-secondary fw-l">20 分鐘即可取件</h5>
                </div>
                <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
              </div>
            </div>
            <div class="card-column-4">
              <div class="card">
                <div class="tac">
                  <img src="../assets/images/home-section2-3.png" alt="safe-img">
                  <h5 class="c-secondary fw-l">安心售後服務</h5>
                </div>
                <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
              </div>
            </div>
            <div class="card-column-4">
              <div class="card">
                <div class="tac">
                  <img src="../assets/images/home-sectioin2-4.png" alt="lens-img">
                  <h5 class="c-secondary fw-l">關於鏡片</h5>
                </div>
                <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- block3 classic -->
      <section>
        <div class="container classic tac">
         <h3 class="tittle tac c-secondary">經典系列鏡框</h3>
          <div class="d-flex fww card-row">
            <div class="card-column-3">
              <div class="card">
                <a href="#">
                  <img src="../assets/images/home-section3-1.png" alt="">
                  <h3 class="i c-primary fw-xl tac">OPTICAL</h3>
                </a>
              </div>
            </div>
            <div class="card-column-3">
              <div class="card">
                <a href="#">
                  <img src="../assets/images/home-section3-2.png" alt="">
                  <h3 class="i c-primary fw-xl tac">SUNGLASSES</h3>
                </a>
              </div>
            </div>
            <div class="card-column-3">
              <div class="card">
                <a href="#">
                  <img src="../assets/images/home-section3-3.png" alt="">
                  <h3 class="i c-primary fw-xl tac">FUNCTIONA</h3>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- block 4 cobrand -->  
      <section class="cobrand">
        <div class="container">
          <h3 class="tittle tac c-light">經典系列鏡框</h3>
          <div class="d-flex fww card-row">
            <div class="card-column-2">
              <div class="card tac">
                <a href="#">
                  <picture>
                    <source media="(max-width: 576px)" srcset="../assets/images/home-section4-1-sm.png">
                    <img src="../assets/images/home-section4-1.png" alt="DOUBLE A+ brand">
                  </picture>
                <h3 class="i tac fw-xl c-primary bgc-light">DOUBLE A+</h3>
               </a>
              </div>
            </div>
            <div class="card-column-2">
              <div class="card tac">
                <a href="#">
                  <picture>
                    <source media="(max-width: 576px)" srcset="../assets/images/home-section4-2-sm.png">
                    <img src="../assets/images/home-section4-2.png" alt="YOUTH brand">
                  </picture>
                <h3 class="i tac fw-xl c-primary bgc-light">YOUTH</h3>
               </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- block 5 recom -->  
      <section class="container recom">
        <h3 class="tittle tac c-secondary">顧客推薦</h3>
         <div class="d-flex fww card-row">
            <ul class="card-column-4">
              <li class="card">
                <img src="../assets/images/home-section5-1.png" alt="guest1">
                <div class="d-flex fd-column card-p-s">
                  <p>Jessy</p>
                  <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                  <div><time>2021/06/20</time></div>
                </div>
              </li>
            </ul>
            <ul class="card-column-4">
              <li class="card">
                <img src="../assets/images/home-section5-2.png" alt="guest2">
                <div class="d-flex fd-column card-p-s">
                  <p>凱倫</p>
                  <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                  <time>2021/06/20</time>
                </div>
              </li>
            </ul>
            <ul class="card-column-4">
              <li class="card">
                <img src="../assets/images/home-section5-3.png" alt="guest3">
                <div class="d-flex fd-column card-p-s">
                  <p>悠悠</p>
                  <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                  <time>2021/06/20</time>
                </div>
              </li>
            </ul>
            <ul class="card-column-4">
              <li class="card">
                <img src="../assets/images/home-section5-4.png" alt="guest4">
                <div class="d-flex fd-column card-p-s">
                  <p>Kyuan</p>
                  <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                  <time>2021/06/20</time>
                </div>
              </li>
            </ul>
         </div>
      </section>

      <!-- block 6 contact us -->  
      <section class="bgc-red-200">
       <div class="container contact">
        <h3 class="tittle tac c-secondary">聯絡我們</h3>
        <div class="from m-auto">
        <h6>我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</h6>
        <!-- 表單 -->
          <label for="name">姓名<br>
            <input type="text" id="name" placeholder="陳小明">
          </label>
          <label for="phone">聯絡電話<br>
            <input type="tel" id="phone" placeholder="0912-345-678">
          </label>
          <label for="email">電子郵件<br>
            <input type="email" id="email" placeholder="example@email.com">
          </label>
          <label for="textarea">意見反應<br>
            <input type="textarea" id="feedback" placeholder="請輸入您的意見">
          </label>

        <div class="checkbox">
          <label><input type="checkbox" name="" id="">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
       </div>
       <button class="mt-s"><a href="#">確認送出</a></button>
      </div>
      </div>
      </div>
    </section>

    </main>
    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
