.d-ib{
    display: inline-block;
}
.d-b{
    display: block;
}
// flex
.d-flex{
    display: flex;
}
@include pad() {
    .d-md-cloumn{
        flex-direction: column;
    }
}
@include mobile() {
    .d-sm-cloumn{
        flex-direction: column;
    }
    .d-none{
        display: none;
    }
}
.fd-column{
    flex-direction: column;
}
.jcsb{
    justify-content: space-between;
}
.fww{
    flex-wrap: wrap;
}
.aic{
    align-items: center;
}
.ass{
    align-self: start;
}
// layout
.m-auto{
    margin: 0 auto;
}
.card-p-s{
    padding: 16px;
}

// block space
section{
    padding: 80px 0;
}

// tittle
.tittle{
    font-weight: $font-weight-semibold;
    margin-bottom: 48px;
}


// font-style
.i{
    font-style: $font-style-italic;
}

// font-weight
.fw-s{
    font-weight: $font-weight-light;
}
.fw-m{
    font-weight: $font-weight-normal;
} 
.fw-l{
    font-weight: $font-weight-semibold;
}
.fw-xl{
    font-weight: $font-weight-bold;
}

// color
.c-light{
    color: $color-light;
}
.c-primary{
    color: $color-primary;
}
.c-secondary{
    color: $color-secondary;
}

// bg-color
.bgc-primary{
    background-color: $color-primary;
}

.bgc-light{
    background-color: $color-light;
}

.bgc-red-200{
    background-color: $color-red-200;
}